<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>logoBox</title>
    </head>

    <body>
        <div>
            <h1>logoBox  </h1>
            <br>
            {% if user.is_authenticated %}
                User: <strong>{{ user.username }}</strong> <br>
                <a href="{% url 'post' %}">Create a Post</a>
                <button onclick = "location.href= '{% url 'post' %}'"> Create a Post  </button>
                <a href="/logoBox/logout/">Logout</a><br />

            {% else %}
            <button onclick = "location.href= '{% url 'auth_login' %}'"> Login  </button>
            <!--<button id="login" class="btn btn-primary" type="button" >  Create a Post </button>-->

            <a href="{% url 'registration_register' %}">Register</a>
    <a href="{% url 'auth_login' %}">Login</a>
            {% endif %}
        </div>
        </hr>

        <div>
        {% block body_block %}


        {% endblock %}
        </div>


    </body>
</html>