<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>logoBox</title>
    </head>

    <body>
        <div>
            <h1>logoBox  </h1>
            <br>
            {% if user.is_authenticated %}
                User: <strong>{{ user.username }}</strong> <br>
                <button onclick = "location.href= '{% url 'post' %}'"> Create a Post  </button>
                <button onclick = "location.href= '{% url 'logout' %}'"> Logout  </button>

            {% else %}

            <button onclick = "location.href= '{% url 'auth_login' %}'"> Login  </button>
             <button onclick = "location.href= '{% url 'registration_register' %}'"> Register  </button>

            {% endif %}
        </div>
        </hr>

        <div>
        {% block body_block %}


        {% endblock %}
        </div>


    </body>
</html>