<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>logoBox</title>
    </head>

    <body>
        <div>
            <h1>logoBox  </h1>
            <a href="{% url 'post' %}">Create a Post</a>
            <button onclick = "location.href= '{% url 'auth_login' %}'">
                <!--"{% url 'auth_login' %}"-->
        <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
        Login
        </button>

            <button id="login" class="btn btn-primary" type="button" >
        Post
        </button>
        </div>
        </hr>
        <div>
        {% block body_block %}{% endblock %}
        </div>

    <a href="{% url 'registration_register' %}">Register</a>
    <a href="{% url 'auth_login' %}">Login</a>
    </body>
</html>