{% extends 'logobox/base.html' %}

{% load static %}
{% load staticfiles %}


{% block body_block %}

    {% if most_liked_posts %}

            <div id="wrapper">
            <div class="columns">
                <h2>Most liked posts</h2>
                <h2>Most hated posts</h2>
                <h2>Most recent posts</h2>
            </div>

                <div class="columns">

                    <div class="column" id="most_liked">


                        {%  for post in most_liked_posts %}
                            <div class="pin" id="most_liked_pin">
                                {% if post.picture %}
                                    <img src="/media/{{ post.picture }}" alt = {{ post.picture }} >
                                {% endif %}

                                <p ><strong>{{ post.content }}</strong></p>
                                <br>
                                {% if post.category %}
                                    <strong>Tag: {{ post.category }}</strong>
                                {% endif %}
                                <br>
                                <span>
                                <strong id="{{ post.id }}_likes" class="count">{{ post.likes }}</strong>
                                {% if user.is_authenticated %}

                                    <button id="{{post.id}}_likebutton" data-postid="{{post.id}}" class="like" type="button">
                                        Like</button>

                                {% else%}
                                    <strong> Likes,</strong>
                                {% endif %}

                                <strong id="{{ post.id }}_dislikes" class="count">{{ post.dislikes }}</strong>
                                {% if user.is_authenticated %}
                                    <button id="{{post.id}}_dislikebutton" data-postid="{{post.id}}" class="dislike" type="button">Dislike</button>
                                {% else %}
                                    <strong> Dislikes: </strong>
                                {% endif %}
                                </span>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="column" id="least_liked">

                        {%  for post in most_hated_posts %}
                            <div class="pin" id="least_liked_pin">
                            {% if post.picture %}
                                <img src="/media/{{ post.picture }}" alt = {{ post.picture }} >
                            {% endif %}

                            <p><strong>{{ post.content }}</strong></p>
                            <br>
                            {% if post.category %}
                                <strong>Tag: {{ post.category }}</strong>
                            {% endif %}
                            <br>
                            <span>
                                <strong id="{{ post.id }}_likes" class="count">{{ post.likes }}</strong>
                                {% if user.is_authenticated %}
                                    <button id="{{post.id}}_likebutton" data-postid="{{post.id}}" class="like" type="button">
                                        Like</button>

                                {% else %}
                                    <strong> Likes, </strong>

                                {% endif %}

                                <strong id="{{ post.id }}_dislikes" class="count">{{ post.dislikes }}</strong>
                                {% if user.is_authenticated %}
                                    <button id="{{post.id}}_dislikebutton" data-postid="{{post.id}}" class="dislike" type="button">Dislike</button>
                                {% else %}
                                    <strong> Dislikes </strong>
                                {% endif %}
                            </span>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="column" id="most_recent">

                        {%  for post in most_recent_posts %}
                            <div class="pin" id="most_recent_pin">
                                {% if post.picture %}
                                <img src="/media/{{ post.picture }}" alt = {{ post.picture }} >
                                {% endif %}

                                <p ><strong>{{ post.content }}</strong></p>
                                 <br>
                                {% if post.category %}
                                    <strong>Tag: {{ post.category }}</strong>
                                {% endif %}
                                <br>
                                <span>
                                <strong id="{{ post.id }}_likes" class="count">{{ post.likes }}</strong>
                                {% if user.is_authenticated %}
                                    <button id="{{post.id}}_likebutton" data-postid="{{post.id}}" class="like" type="button">
                                            Like</button>
                                    {% else %}
                               <strong> Likes, </strong>
                                {% endif %}
                                <strong id="{{ post.id }}_dislikes" class="count">{{ post.dislikes }}</strong>
                                {% if user.is_authenticated %}
                                <button id="{{post.id}}_dislikebutton" data-postid="{{post.id}}" class="dislike" type="button">Dislike</button>
                                {% else %}
                               <strong> Dislikes</strong>
                                {% endif %}
                                </span>
                             </div>
                        {% endfor %}
                    </div>
                </div>


            </div>


    {% endif %}


{% endblock %}

